.safe-info-container {
  .info-safe-group {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    .info-data {
      font-size: 18px;
    }
  }
}
.safe-btns-container {
  margin-top: 0.5em;
  .ant-col.ant-col-xs-20.ant-col-sm-18.ant-col-md-20.ant-col-lg-18 {
    display: flex;
    align-items: center;
  }
  .ellipsis-icon {
    float: right;
    min-width: 48px;
    min-height: 48px;
  }
}

.background-gray {
  background-color: var(--color-secondary-alpha-02);
}