.bridge {
  .place-transaction-box {
    padding: 1.5rem;
    min-width: 600px;
    min-height: 430px;
    width: auto;
    max-width: 720px;
  }

  .debridge-wrapper {
    .panel2.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .order-submitted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 420px;
        min-height: 320px;
        padding: 2rem 0;
        gap: 2rem;
      }
    }

    .flip-button-container {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 40px;
      margin-bottom: -28px;

      .flip-button {
        width: 32px;
        height: 32px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.8rem;

        .anticon svg,
        .mean-svg-icons {
          width: 22px;
          height: 22px;
          color: var(--color-secondary-alpha-50);
        }

        &:hover {
          cursor: pointer;

          .anticon svg,
          .mean-svg-icons {
            color: var(--color-secondary-alpha-80);
          }
        }
      }

      .icon-button-container {
        justify-content: flex-end;
        flex: 1;
      }
    }
  }

  .dropdown-trigger {
    .transaction-list-row {
      padding: 6px 8px;

      .icon-cell {
        justify-content: center;
        align-items: center;
      }
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      padding-right: 0;
    }
  }

  .ant-select-dropdown.chain-select-dropdown {
    .transaction-list-row {
      padding: 6px 8px;

      .icon-cell {
        justify-content: center;
        align-items: center;
      }
    }
  }
}