.bridge {
  .place-transaction-box {
    padding: 1.5rem;
    min-height: 430px;
    max-width: 600px;
    min-width: auto;

    @media (max-width: 575.98px) {
      padding: 0;
    }
  }

  .debridge-wrapper {
    .evm-connect-button {
      .account-name {
        margin-right: 6px;
      }

      @media (max-width: 399.98px) {
        .wallet-icon {
          display: none !important;
        }
      }

      @media (max-width: 575.98px) {
        .account-balance {
          display: none;
        }

        .caret-down {
          display: none;
        }

        .wallet-icon {
          display: inline-block;
        }
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        .account-balance {
          display: none;
        }

        .caret-down {
          display: none;
        }

        .wallet-icon {
          display: inline-block;
        }
      }

      @media (min-width: 768px) {
        .account-balance {
          display: inline-block;
        }

        .caret-down {
          display: inline-block;
        }

        .wallet-icon {
          display: none;
        }
      }
    }

    .panel2.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .order-submitted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 420px;
        min-height: 320px;
        padding: 2rem 0;
        gap: 2rem;
      }
    }
  }

  .dropdown-trigger {
    &.no-decoration .ant-select.auto-height .ant-select-selector {
      height: auto;
      margin: 0;
      padding: 0;

      .ant-select-selection-item {
        height: 30px;
        line-height: 1.3;
      }
    }

    .transaction-list-row {
      min-width: 140px;
      padding: 3px 4px;
      height: auto;
      align-items: center;

      .icon-cell {
        flex: 0 0 24px;
        justify-content: center;
        align-items: center;
      }
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      padding-right: 0;
    }
  }

  .ant-select-dropdown.chain-select-dropdown {
    .transaction-list-row {
      pointer-events: none;
      min-width: 140px;
      padding: 3px 4px;
      height: auto;
      align-items: center;

      .icon-cell {
        flex: 0 0 24px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .vertical-bar>*:not(:last-child):after {
    content: '|';
    margin-left: 6px;
    margin-right: 6px;
  }
}