.exchange {

  .place-transaction-box.debridge-wrapper {
    padding: 1.5rem;
    min-height: 430px;
    min-width: 360px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 24px;

    @media (max-width: 575.98px) {
      padding: 0;
    }
  }

  .debridge-wrapper {
    padding: 0 1.5rem;
    min-width: 360px;
    max-width: 600px;
    width: 100%;

    @media (max-width: 575.98px) {
      padding: 0;
    }

    .icon-button-container>button.ant-btn.ant-btn-default {
      color: var(--color-secondary) !important;

      &:not(:disabled):hover {
        color: var(--color-secondary-alpha-70) !important;
      }
    }
  }

  .debridge-container {
    .evm-connect-button {
      .account-name {
        margin-right: 6px;
      }

      @media (max-width: 399.98px) {
        .wallet-icon {
          display: none !important;
        }
      }

      @media (max-width: 575.98px) {
        .account-balance {
          display: none;
        }

        .caret-down {
          display: none;
        }

        .wallet-icon {
          display: inline-block;
        }
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        .account-balance {
          display: none;
        }

        .caret-down {
          display: none;
        }

        .wallet-icon {
          display: inline-block;
        }
      }

      @media (min-width: 768px) {
        .account-balance {
          display: inline-block;
        }

        .caret-down {
          display: inline-block;
        }

        .wallet-icon {
          display: none;
        }
      }
    }

    .panel2.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .order-submitted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 420px;
        min-height: 320px;
        padding: 2rem 0;
        gap: 2rem;
      }
    }
  }

  .dropdown-trigger {
    &.no-decoration .ant-select.auto-height {
      font-size: 14px;
      height: auto;

      .ant-select-selector {
        height: auto;
        margin: 0;
        padding: 0;

        .ant-select-selection-item {
          height: 26px;
          line-height: 1.3;
          color: inherit !important;
        }
      }
    }

    .transaction-list-row {
      background-color: transparent;
      padding: 3px 8px 3px 6px;
      height: auto;
      align-items: center;

      .icon-cell {
        flex: 0 0 18px;
        justify-content: center;
        align-items: center;
      }
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      padding-right: 0;
    }
  }

  .ant-select-dropdown.chain-select-dropdown {
    width: auto !important;

    .ant-select-item {
      font-size: 14px;
    }

    .transaction-list-row {
      pointer-events: none;
      padding: 3px 8px 3px 6px;
      height: auto;
      align-items: center;

      .icon-cell {
        flex: 0 0 18px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .vertical-bar>*:not(:last-child):after {
    content: '|';
    margin-left: 6px;
    margin-right: 6px;
  }

  .token-selector-wrapper {
    padding: 0;
  }
}