.playground {
  .debridge-wrapper {
    width: 100%;
    max-width: var(--container-max-width-640) !important;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: none;
    border-radius: var(--custom-control-border-radius);
  }

  .dropdown-trigger {
    .transaction-list-row {
      padding: 6px 8px;

      .icon-cell {
        justify-content: center;
        align-items: center;
      }
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      padding-right: 0;
    }
  }

  .ant-select-dropdown.chain-select-dropdown {
    .transaction-list-row {
      padding: 6px 8px;

      .icon-cell {
        justify-content: center;
        align-items: center;
      }
    }
  }
}