.account-selector {
  display: flex;
  justify-content: center;
  .boxed-area {
    width: 480px;
    h2 {
      text-align: center;
    }
    .wallet-account svg {
      width: 1.5em;
    }
    .safe-account svg {
      width: 1.25em;
    }
    .account-title {
      display: flex;
      align-items: center;
      padding-bottom: 0.25em;
      border-bottom: 0.05px solid var(--color-secondary-alpha-40);
      margin-bottom: 0.75em
    }
  }
}