.account-selector {
  .account-group-heading {
    border-bottom: 1px solid var(--color-secondary-alpha-50);
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
  }
  .accounts-list {
    margin-bottom: 1.8rem;
    .transaction-list-row {
      margin: 0;
      border: 2px solid var(--color-secondary-alpha-40);
      border-radius: 6px !important;
      padding: 5px 10px;
      border-radius: 0;
      &:not(:last-of-type) {
        margin-bottom: 0.8rem;
      }
      &.selected {
        border: 2px solid var(--color-secondary-alpha-70) !important;
        background-color: var(--darken) !important;
      }
      .icon-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 30px;
        width: 30px;
        padding-right: 4px;
        color: var(--color-secondary-alpha-85);
        .mean-svg-icons {
          width: auto;
          height: auto;
        }
        .provider-icon {
          padding: 3px;
          background-color: var(--wallet-provider-background);
          border-radius: 5px;
        }
      }
      .description-cell {
        flex: 1 1 auto !important;
        display: grid;
        padding: 0 10px 0 5px;
        .title {
          font-size: 13px;
          line-height: 1.3;
        }
      }
      .rate-cell {
        flex: 0 0 auto !important;
        .rate-amount {
          font-size: 13px;
        }
        .interval {
          margin-top: 4px;
        }
      }
    }
  }
}
