.account-selector {
  .account-group-heading {
    border-bottom: 1px solid var(--color-secondary-alpha-50);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .accounts-list {
    margin-bottom: 1rem;
    .transaction-list-row {
      border-radius: 0;
      .icon-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 30px;
        width: 30px;
        padding-right: 4px;
        color: var(--color-secondary-alpha-85);
        .mean-svg-icons {
          width: auto;
          height: auto;
        }
        .provider-icon {
          padding: 3px;
          background-color: var(--wallet-provider-background);
          border-radius: 5px;
        }
      }
      .description-cell {
        flex: 1 1 auto !important;
        display: grid;
        padding: 0 10px 0 5px;
        .title {
          font-size: 13px;
          line-height: 1.3;
        }
      }
      .rate-cell {
        flex: 0 0 auto !important;
        .rate-amount {
          font-size: 13px;
        }
        .interval {
          margin-top: 4px;
        }
      }
    }
  }
}
