.table-cell-flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .icon-cell {
    position: relative;
    flex: 0 0 34px;
    display: flex;

    .token-icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 2px;
      margin: 0;
      vertical-align: unset;

      .streams-count {
        line-height: 1;
        display: flex;
        width: auto;
        height: 1.2rem;
        color: var(--color-white);
        background: var(--color-primary);
        padding: 4px;
        min-width: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
      }
    }
  }

  .description-cell {
    flex: 1 1 calc(100% - 34px);
    padding-left: 4px;

    .title {
      display: block;
      align-items: center;
      font-size: 14px;
      line-height: 1.2;
      color: var(--color-secondary-alpha-85);
    }

    .subtitle {
      display: block;
      color: var(--color-secondary-alpha-40);
      font-size: 12px;
      line-height: 1;
    }
  }
}