.staking-rewards {
    .item-list-header.dark {
        .header-row .std-table-cell {
            height: 38px;
            vertical-align: bottom;
            white-space: inherit;
            &.border-right {
                border-right: 1px solid var(--color-secondary-alpha-05);
            }
            &.border-left {
                border-left: 1px solid var(--color-secondary-alpha-05);
            }
        }
    }
    .item-list-body.dark {
        .item-list-row .std-table-cell {
            &.border-right {
                border-right: 1px solid var(--color-secondary-alpha-05);
            }
            &.border-left {
                border-left: 1px solid var(--color-secondary-alpha-05);
            }
        }
    }
}
