.multisig-create-safe-modal {
  .ant-modal-header,
  .ant-modal-body {
    .ant-divider.ant-divider-horizontal.ant-divider-plain {
      margin: 0 !important;
    }
  }
  .ant-modal-body {
    padding: 0.25em !important;
    .stepper-wrapper {
      padding: 1.5em 1.75em 0 !important;
      .flexible-left {
        display: block !important;
        float: right;
        margin-bottom: 0.5em;
        margin-top: -0.6em;
        .stepper-label {
          font-size: 12px !important;
        }
      }
    }
    .contract-wrapper {
      padding: 1.5em;
    }
    .contract-wrapper.panel1.show,
    .contract-wrapper.panel2.show,
    .contract-wrapper.panel3.show {
      .left-title {
        margin-top: -2.4em;
      }
    }
  }
  .two-column-form-layout {
    display: flex;
    margin: 1em auto;
    
    @media (min-width: 576px) {
      .right {
        display: flex;
        align-items: center;
      }
    }
    .right {
      padding-top: 1em;
    }
  }
  .icon-info-circle svg {
    height: 17px !important;
  }
  .large-dropdown-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 18vw;
  }
}