.wizard-stepper-wrapper {
  .wizard-stepper-label {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-secondary-alpha-85);
    font-weight: 700;
  }

  .wizard-stepper-handles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .handle-wrapper {
      flex: auto;
      min-width: 50px;
      max-width: 80px;
      height: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 4px;
      }

      .step-handle {
        width: 100%;
        height: 8px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

        &.active {
          background-color: var(--color-primary);
        }

        &:not(.active) {
          background-color: var(--color-secondary-alpha-10);
        }
      }
    }
  }
}
