.vesting {
    .transaction-list-row {
        border-radius: unset;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: 4px solid transparent;
        .description-cell {
            flex: auto;
            min-width: unset;
        }
        .rate-cell {
            flex: 0 0 146px;
        }
        &.selected {
            border-left-color: var(--color-primary-highlight);
            background-color: var(--color-secondary-alpha-02);
        }
    }
}
