.vesting {

    @media (max-width: 575.98px) {
        .meanfi-two-panel-layout {
            height: 100%;
            max-height: 100%;
            margin: 0;
            .inner-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 10px;
                background: transparent;
                max-height: calc(100% - 45px);
            }
            .meanfi-two-panel-left {
                padding: 0;
            }
        }
    }

    .interaction-area {
        .elastic-form-container {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            .cta-container {
                margin: 2rem 0;
            }
        }
        .meanfi-two-panel-layout {
            .meanfi-two-panel-left {
                .transaction-list-row {
                    border-radius: unset;
                    border-top: none;
                    border-bottom: none;
                    border-right: none;
                    border-left: 4px solid transparent;
                    &.selected {
                        border-left-color: var(--color-primary-highlight);
                        background-color: var(--color-secondary-alpha-02);
                    }
                }
            }
            .meanfi-two-panel-right {
                .vesting-contract-streams {
                    .transaction-list-row {
                        border-radius: unset;
                        border: none;
                        height: 50px;
                        padding: 6px;
                        &:not(.no-pointer) {
                            cursor: auto;
                        }
                        .description-cell {
                            .title {
                                display: inline-block;
                                font-size: 0.85rem;
                                line-height: 1;
                                color: var(--color-secondary-alpha-85);
                                width: 100%;
                            }
                            .subtitle {
                                font-size: 0.75rem;
                                line-height: 1.2;
                            }
                        }
                        .actions-cell {
                            flex: 0 0 24px !important;
                            padding-left: 4px;
                        }
                    }
                }
            }
        }
    }

    .interaction-area .elastic-form-container,
    .ant-modal-content {
        .cta-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            > .ant-btn.ant-btn-primary.ant-btn-round {
                min-width: 240px;
            }
        }
    }

    .ant-modal-content .cta-container {
        margin: 2rem 0 0 0;
    }

    .inner-container {

        .item-block {
            padding-bottom: 0 !important;
            position: relative;
        }

        .bottom-ctas {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 1.8rem;
            margin: 0 -2.6%;
            .primary-action {
                flex: 0 0 60%;
                width: 60%;
            }

            .options-dropdown {
                flex: 0 0 auto;
                margin-left: 10px;
            }
        }
    }

    .asset-category {
        height: auto;
        min-height: 50px;
        @media (min-width: 768px) {
            padding-bottom: 0.5rem;
        }
    }

    .transaction-list-row {
        .description-cell {
            flex: auto !important;
            min-width: unset !important;
            .subtitle {
                .flex-fixed-left {
                    display: inline-flex;
                }
            }
        }
        .rate-cell {
            flex: 0 0 140px !important;
            padding: 0 !important;
        }
    }
}
