.vesting {

    @media (max-width: 575.98px) {
        .meanfi-two-panel-layout {
            height: 100%;
            max-height: 100%;
            margin: 0;
            .inner-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 10px;
                background: transparent;
                max-height: calc(100% - 45px);
            }
            .meanfi-two-panel-left {
                padding: 0;
            }
        }
    }

    .interaction-area {
        .elastic-form-container {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            .cta-container {
                margin: 2rem 0;
            }
        }
    }

    .interaction-area .elastic-form-container,
    .ant-modal-content {
        .cta-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            > .ant-btn.ant-btn-primary.ant-btn-round {
                min-width: 240px;
            }
        }
    }

    .ant-modal-content .cta-container {
        margin: 2rem 0 1rem 0;
    }

    .inner-container {

        .item-block {
            padding-bottom: 0 !important;
            position: relative;
        }

        .bottom-ctas {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 1.8rem;
            margin: 0 -2.6%;
            .primary-action {
                flex: 0 0 60%;
                width: 60%;
            }

            .options-dropdown {
                flex: 0 0 auto;
                margin-left: 10px;
            }
        }
    }

    .asset-category {
        height: auto;
        min-height: 50px;
        @media (min-width: 768px) {
            padding-bottom: 0.5rem;
        }
    }

    .transaction-list-row {
        border-radius: unset;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: 4px solid transparent;

        .description-cell {
            flex: auto !important;
            min-width: unset !important;
            .subtitle {
                .flex-fixed-left {
                    display: inline-flex;
                }
            }
        }

        .rate-cell {
            flex: 0 0 140px !important;
            padding: 0 !important;
        }

        &.selected {
            border-left-color: var(--color-primary-highlight);
            background-color: var(--color-secondary-alpha-02);
        }
    }
}
