.treasuries {
  .item-list-body.compact {
    .item-list-row {
      height: 24px;
    }
  }
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
    > div {
      position: initial;
    }
    > div > .ant-spin {
      max-height: initial;
    }
    .ant-spin-container{
      display: initial;
      &.ant-spin-blur {
        height: 100%;
        opacity: 0.6;
        &::after {
          background: var(--bg-color) !important;
          opacity: 0.6;
        }
      }
    }
  }
}
.ant-spin-container {
  &::after {
    background: var(--bg-color) !important;
  }
}
@media (max-width: 575px) {
  .ant-select-dropdown {
    .transaction-list-row {
      flex-wrap: wrap;
      height: fit-content;
      align-items: flex-start;
      .icon-cell {
        padding-top: 0.5em;
      }
      .description-cell {
        padding-top: 0.25em;
      }
    }   
  }
}
.ant-select-dropdown {
  .transaction-list-row {
    .description-cell {
      min-width: fit-content !important;
    }
  }
}
.switch-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.55em;
}

.inner-container {
  .scroll-wrapper {
    margin-right: -1.55em;
    max-height: 100%;
    overflow-y: auto;
  }
  @media (max-width: 575px) {
    padding-right: 2.55em;
  }
  @media (min-width: 576px) {
    padding-right: 2em;
  }
}