.create-safe {
    .slider-container {
        padding: 0 1rem;
        margin: 1.5rem 0 2rem 0;

        .ant-slider-handle:not(.ant-tooltip-open) {
            border: solid 2px var(--color-primary);
            background-color: var(--color-white);
        }
    }

    .ant-tooltip.ant-slider-tooltip .ant-tooltip-inner {
        background-color: rgba(0, 0, 0, 0.85);
        padding: 4px;
    }

    .ant-tooltip-content {
        .ant-tooltip-arrow-content {
            --antd-arrow-background-color: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85));
        }
    }

    .two-column-layout {
        display: flex;
        margin-bottom: 16px;

        >.left,
        >.right {
            .well {
                margin-bottom: 0;
            }
        }

        @media (max-width: 575.98px) {
            flex-direction: column;

            >.left,
            >.right {
                flex: 0 0 100%;
                margin-bottom: 4px;
                padding: 0;
            }
        }

        &.address-fixed {
            @media (min-width: 576px) {
                >.left {
                    flex: 1 1 180px;
                }

                >.right {
                    flex: 1 1 410px;
                }
            }
        }
        @media (min-width: 576px) {
            flex-direction: row;

            >.left {
                padding-right: 8px;
            }

            >.right {
                padding-left: 8px;
            }

            >.left {
                flex: 1 1 50%;
            }

            >.right {
                flex: 1 1 50%;
            }
        }
    }
}