.safe-btns-container {
  margin-top: 0.5em;
  .ant-col.ant-col-xs-20.ant-col-sm-18.ant-col-md-20.ant-col-lg-18 {
    display: flex;
    align-items: center;
    flex-wrap: wrap !important;
  }
  .ellipsis-icon {
    float: right;
    min-width: 48px;
    min-height: 48px;
  }
}
.cool-off-period-label {
  .info-value {
    color: #e1e2fd;
    font-weight: 600;
  }
}

.background-gray {
  background-color: var(--color-secondary-alpha-02);
}