.safe-info-container {
  .info-safe-group {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-bottom: 0.5em;
    .info-data {
      font-size: 18px;
      svg {
        width: 1em;
        margin-left: 0.5em;
        margin-top: -0.25em;
      }
    }
  }
}
.safe-btns-container {
  margin-top: 0.5em;
  .ant-col.ant-col-xs-20.ant-col-sm-18.ant-col-md-20.ant-col-lg-18 {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: 0.25em !important;
    margin: 0.25em;
    .btn-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // min-width: 7.5em;
      svg {
        padding-right: 0.3em;
        width: 1.25em;
      }
    }
  }
  .ellipsis-icon {
    float: right;
    min-width: 48px;
    min-height: 48px;
  }
}
.safe-tabs-container {
  width: 100%;
  .safe-tabs-header-container {
    margin: 0.25em auto;
    @media (min-width: 576px) {
      ul.tabs {
        width: fit-content !important;
        margin: 0.1em 0 !important;
        li.ant-menu-item {
          margin: 0 1.5em 0 0.5em !important;
          display: flex;
          justify-content: flex-start;
        }
      }
      .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
        left: 0 !important;
        right: 0 !important;
      }
    }
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
      // border-bottom: 3px solid var(--color-primary) !important;
      border-bottom: 3px solid #6b6c77 !important;
    }
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after {
      // border-bottom: 3px solid var(--color-primary) !important;
      border-bottom: 3px solid #6b6c77 !important;
      color: var(--bg-color) !important;
    }
  }
  .safe-tabs-content-container {
    padding: 0.25em;
    row-gap: 0 !important;
    .ant-spin-container,
    .ant-spin-container::after {
      background: red !important;
    }
    @media (max-width: 575px) {
      button {
        min-width: 48px;
        min-height: 48px;
        svg {
          min-width: 48px;
          min-height: 48px;
          padding: 0.5em;
          margin-right: -1em;
        }
      }
    }
    .activities-list {
      svg {
        width: 1em;
        margin-right: 0.25em;
      }
    }
  }
}

.background-gray {
  background-color: var(--color-secondary-alpha-02);
}