.treasuries {
  .item-list-body.compact {
    .item-list-row {
      height: 24px;
    }
  }
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
    > div {
      position: initial;
    }
    > div > .ant-spin {
      max-height: initial;
    }
    .ant-spin-container{
      display: initial;
      &.ant-spin-blur {
        height: 100%;
        opacity: 0.6;
        &::after {
          background: var(--bg-color) !important;
          opacity: 0.6;
        }
      }
    }
  }
}
.ant-spin-container {
  &::after {
    background: var(--bg-color) !important;
  }
}
.bottom-ctas {
  padding: 12px 0 0 0 !important;
}
@media (max-width: 575px) {
  .ant-select-selector {
    .transaction-list-row {
      align-items: flex-start;
      width: 0em !important;
    }   
  }
  .ant-select-dropdown {
    width: 20em !important;
    min-width: 20em !important;
    .transaction-list-row {
      width: 20em !important;
    }
  }
}
.panel1.show {
  .transaction-list-row {
    .description-cell {
      min-width: fit-content !important;
      line-height: 0.5;
    }
  }
}
.ant-select-selector {
  .transaction-list-row {
    .description-cell {
      min-width: fit-content !important;
    }
  }
}

.ant-select-dropdown .ant-select-item .ant-select-item-option-content .option-container {
  min-width: auto !important;
}

@media (max-width: 575px) {
  .reminder-icon-circle {
    width: 28px !important;
  }
}
@media (min-width: 576px) {
  .reminder-icon-circle {
    width: 20px !important;
  }
}
.reminder-container {
  display: flex;
  align-items: center;
  height: 48px;
}
.reminder-icon-circle {
  color: var(--color-secondary-alpha-50);
  margin-right: 0.4em;
}

