.stream-detail-component {
  .details-item {
    line-height: 2.2;
  }
  > .transaction-list-row {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    .description-cell {
      padding-left: 8px;
      .title {
        line-height: 1;
        .badge.small {
          vertical-align: 2px;
        }
      }
      .subtitle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 4px;
        flex-wrap: wrap;
      }
    }
  }
  .transaction-detail-row {
    .info-data {
      color: var(--text-color);
      font-weight: 700;
    }
  }
  .stream-activity-list {
    .transaction-list-row {
      .icon-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 26px;
        width: 26px;
        padding-right: 4px;
        .mean-svg-icons {
          width: auto;
          height: auto;
        }
      }
      .actions-cell {
        width: 30px;
        flex: 0 0 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: var(--color-secondary-alpha-85);
        padding-left: 4px;
      }
    }
  }
}
