.PieChartComponent {
  font-family: sans-serif;
  text-align: center;
}

.pie-chart {
  width: 100% !important;
  cursor: pointer;
  padding-top: 2em;
  padding-right: 1em;
}

svg.recharts-surface {
  width: 100% !important;
  margin: 0 6.25em !important;
}