@mixin select-app ($filter, $opacity, $color) {
  filter: $filter;
  opacity: $opacity;
  color: $color;
}

.multisig-proposal-modal {
  .ant-modal-header,
  .ant-modal-body {
    .ant-divider.ant-divider-horizontal.ant-divider-plain {
      margin: 0 !important;
    }
  }
  .ant-modal-body {
    padding: 0.25em !important;
    .stepper-wrapper {
      padding: 1.5em 1.75em 0 !important;
      .flexible-left {
        display: block !important;
        float: right;
        // margin-bottom: 2em;
        .stepper-label {
          font-size: 12px !important;
        }
      }
    }
    .contract-wrapper {
      padding: 1.5em;
    }
    .contract-wrapper.panel1.show {
      h3 {
        margin-top: -2.4em;
      }
    }
    .contract-wrapper.panel2.show,
    .contract-wrapper.panel3.show {
      h3 {
        margin-top: -3.8em;
      }
    }
  }
}

.step-one-select-app {
  margin: 3em 0 0 0 !important;
  display: flex ;
  justify-content: center;
  .select-app {
    flex: 1 !important;
    .select-app-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        // border-radius: 0.25em !important;
        // border: 1px solid #787980;
        padding: 0.1em;
      }
      .info-label {
        text-align: center;
        width: 65px;
        line-height: 1.2;
        margin-top: 0.25em;
        font-size: 0.75rem !important;
        // color: inherit !important;
      }
      &:hover {
        @include select-app (grayscale(0%), 1, var(--color-white) !important);
      }
    }
  }
}
.step-two-select-app {
  margin: 3em 0 0 0 !important;
  .ant-col.ant-col-24.step-two-selected-app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    .selected-app {
      line-height: 1.3;
    }
    img,
    svg {
      border-radius: 0.25em;
      margin-right: 0.8em;
    }
    svg {
      background: #171c2a;
      padding: 0.5em;
      width: 3.2em;
      height: 3.2em;
    }
  }
  .step-two-select-instruction {
    .well {
      margin-bottom: 5px !important;
    }
    @media (max-width: 575px) {
      .form-label {
        display: flex;
        padding-left: 0.5em;
        margin: 0;
      }
      .well {
        margin-bottom: 8px !important;
      }
    }
    @media (min-width: 576px) {
      .form-label {
        margin-top: 0.25em !important;
      }
    }
  }
}
.step-three-select-app {
  margin: 3em 0 0 0 !important;
  .proposal-resume {
    font-weight: 100 !important;
    font-style: italic !important;
  }
}

.no-selected-app {
  @include select-app (grayscale(100%), 0.75, var(--color-secondary-alpha-50) !important);
}
.selected-app {
  @include select-app (grayscale(0%), 1, var(--color-white) !important);
}
.paste-input {
  height: 200px !important;
}
textarea#serializedTx {
  line-height: 1.25 !important;
}