@media (max-width: 575px) {
  .proposal-resume-item-container {
    row-gap: 0px !important;

  }
}
@media (min-width: 576px) {
  .proposal-resume-item-container {
    padding-bottom: 0.5em;
  }
}
.proposal-resume-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-left: 0.5em;
  .proposal-resume-left-container {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      margin-right: 0.5em;
      border-radius: 0.25em;
    }
    .proposal-resume-left-text {
      line-height: 1.3;
      .proposal-title {
        font-size: 1.1em;
      }
    }
  }
  @media (max-width: 575px) {
    .proposal-resume-right-container {
      justify-content: space-between;
      width: 100%;
    }
  }
  .proposal-resume-right-container {
    padding-right: 0;
    display: flex;
    align-items: center;
    .proposal-resume-right-text {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: 2.2em;
      .proposal-resume-right-text-up {
        display: flex;
        .thumbs-up,
        .thumbs-down {
          display: flex;
          align-items: center;
          padding: 0 0.25em;
          span {
            font-size: 1.1em;
            padding: 0 0.5em;
          }
        }
        .badge-container {
          margin: 0.25em 0 0.25em 0.25em;
          display: flex;
          border-radius: 0.25em;
        }
      }
    }
    .info-label {
      float: right;
      text-align: right;
      margin-bottom: -0.5em !important;
    }
  }
  .icon-button-container {
    margin-left: 0.5em;
  }
}
.big-title {
  font-size: 1.4em !important;
}

.active-purple {
  background-color: #4b00a6;
}

.failed-red {
  background-color: #a8000f;
}

.passed-green {
  background-color: #046000;
}

.voided-orange {
  background-color: #d14e00;
}

.expired-gray {
  background-color: #292a2d
}

.hover-list {
  &:hover {
    background-color: var(--color-secondary-alpha-05);
  }
}