.footer-account-bar,
.connection-and-account-bar {
  .wallet-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: var(--wallet-wrapper-bg);
    color: var(--wallet-wrapper-color);
    border-radius: var(--custom-border-radius);
    height: 100%;

    .wallet-key {
      background-color: var(--color-primary);
      border-radius: var(--custom-border-radius);
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 6px;
      cursor: pointer;

      .wallet-provider-icon {
        padding: 3px;
        background-color: var(--wallet-provider-background);
        border-radius: 5px;

        &.mean-svg-icons {
          margin-right: 4px;
        }
      }

      .account-descriptor {
        max-width: 150px;
        min-width: 104px;
        padding: 0 6px;
        display: flex;
        flex-direction: column;

        .account-id {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.1;
          color: var(--color-white);
        }

        .account-name {
          font-size: 0.85rem;
          font-weight: 900;
          line-height: 1.1;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.connection-and-account-bar {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-network-bar);
  border-radius: var(--custom-border-radius);
  height: var(--custom-control-height);
  margin: 0 4px;
  padding: 0;

  @media (max-width: 575.98px) {
    display: none;
  }

  @media (min-width: 576px) {
    display: flex;
  }
}

.diagnosis-info-item {
  font-size: 12px;
  word-break: break-word;
  line-height: 1.3;
}

.ant-collapse {
  &.ant-collapse-borderless {
    border: none;
    color: inherit;
    font-size: inherit;
  }

  >.ant-collapse-item {
    .ant-collapse-header {
      padding: 0 2px;
      color: inherit !important;
      font-size: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    .ant-collapse-content {
      border: none;
      color: inherit;

      .ant-collapse-content-box {
        padding: 10px 2px 0;
      }
    }
  }
}