.connection-and-account-bar {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-network-bar);
  border-radius: var(--custom-border-radius);
  height: var(--custom-control-height);
  margin-right: 8px;
  padding: 0;

  @media (max-width: 575.98px) {
    display: none;
  }

  @media (min-width: 576px) {
    display: flex;
  }

  .connected-network {
    @media (max-width: 767.98px) {
      display: none;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
    margin-left: 4px;

    .chain-logo {
      align-items: center;
      justify-content: center;
      display: inline-flex;
      margin-right: 4px;

      >img {
        margin: 0;
      }
    }

    .account-balance {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.5px;
    }
  }

  .wallet-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: var(--wallet-wrapper-bg);
    color: var(--wallet-wrapper-color);
    border-radius: var(--custom-border-radius);
    height: 100%;

    .wallet-key {
      background-color: var(--color-primary);
      border-radius: var(--custom-border-radius);
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 6px;
      cursor: pointer;
      .wallet-provider-icon {
        padding: 3px;
        background-color: var(--wallet-provider-background);
        border-radius: 5px;
        &.mean-svg-icons {
          margin-right: 4px;
        }
      }
      .account-descriptor {
        max-width: 150px;
        min-width: 104px;
        padding: 0 2px;
        display: flex;
        flex-direction: column;
        .account-type {
          font-size: 0.7rem;
          font-weight: 400;
          text-align: center;
          line-height: 1.1;
        }
        .account-id {
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
          line-height: 1.1;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.diagnosis-info-item {
  font-size: 12px;
  word-break: break-word;
  line-height: 1.3;
}

.ant-collapse {
  &.ant-collapse-borderless {
    border: none;
    color: inherit;
    font-size: inherit;
  }

  >.ant-collapse-item {
    .ant-collapse-header {
      padding: 0 2px;
      color: inherit !important;
      font-size: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    .ant-collapse-content {
      border: none;
      color: inherit;

      .ant-collapse-content-box {
        padding: 10px 2px 0;
      }
    }
  }
}
