body.ido {
  header,
  footer {
      display: none;
  }
  .pre-footer {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    .pre-footer-menu {
      margin-bottom: 0.8rem;
      color: var(--color-secondary-alpha-60);
      border-top: 1px solid var(--color-secondary-alpha-40);
    }
    @media (max-width: 575.98px) {
      .pre-footer-menu {
        justify-content: center;
        align-items: center;
        .flexible-left {
          justify-content: center;
          .left {
            flex: 0 0 auto;
            width: auto;
          }
          .right {
            display: none;
          }
        }
      }
    }
  }
}
.ido {
  .ido-coming-soon-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .ido-app-logo {
      height: 100%;
      width: auto;
      max-height: 50px;
      filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
      -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
      -moz-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
    }
    &.ido-coming-soon-bg {
      background: #141414;
      background: -moz-linear-gradient(-45deg, #000000, #141414, #75000f, #890014, #75000f, #141414, #000000,);
      background: -webkit-linear-gradient(-45deg, #000000, #141414,#75000f,#890014,#75000f,#141414, #000000,);
      background: linear-gradient(-45deg, #000000, #141414,#75000f,#890014,#75000f,#141414, #000000,);
      @media (max-width: 575.98px) {
        background-size: 200% 200%;
        animation: animatedgradient 20s ease-in-out infinite;
      }
      @media (min-width: 576px) {
        background-size: 400% 400%;
        animation: animatedgradient 30s ease-in-out infinite;
      }
      height: 100vh;
    }
    .content-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      .countdown-wrapper {
        margin: 2rem 0;
        padding: 0.8rem 1.2rem;
        font-size: 5rem;
        line-height: 1;
        border-radius: 1rem;
        color: var(--color-white);
        background-color: var(--darken);
        box-shadow: var(--soft-shadow);
        @media (max-width: 575.98px) {
          font-size: 3rem;
        }
      }
    }
  }
}
