.background-card {
  margin: 0.5em;
  background-color: #11101d !important;
  // background-color: #1C1F30!important;
  // background-color: #323645!important;
  border-radius: 0.25em;
  h3,
  .card-row {
    padding: 0.5em;
  }
  .card-row {
    display: flex;
    justify-content: space-between;
  }
}
.incoming-stream-amount,
.outgoing-stream-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.incoming-stream-amount {
  .incoming-amount {
    margin-right: 0.5em;
    margin-top: -0.5em;
    font-size: 0.9em;
    color: #49aa19;
  }
}
.outgoing-stream-amount {
  .outgoing-amount {
    margin-right: 0.5em;
    margin-top: -0.5em;
    font-size: 0.9em;
    color: #e02020;
  }
}