.background-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border-radius: 0.25em;
  overflow: hidden;
  height: 40vh;
}
.incoming-stream-amount,
.outgoing-stream-amount {
  top: 0 !important;
  position: absolute;
  padding: 0.6em;
  width: 100%;
  .outgoing-stream-running,
  .incoming-stream-running {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.incoming-stream-amount {
  .incoming-amount {
    margin-right: 0.5em;
    margin-top: -0.5em;
    font-size: 0.9em;
    color: #49aa19;
  }
}
.outgoing-stream-amount {
  .outgoing-amount {
    margin-right: 0.5em;
    margin-top: -0.5em;
    font-size: 0.9em;
    color: #e02020;
  }
}
.stream-background-incoming {
  margin-top: -5em;
  position: relative;
  height: 100%;
}
.stream-background-outgoing {
  margin-bottom: -5em;
  position: relative;
  height: 100%;
}
.stream-balance {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 1em;
  .info-label {
    width: auto;
    font-weight: 600;
  }
  .info-value {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .ant-row.resume-item-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .ant-row.resume-item-container {
    display: flex;
    justify-content: flex-end;
  }
}

.waves-box { 
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
.wave.wave-green {
  background: url("../../../public/assets/wave-green.svg") repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) 2s;
  transform: translate3d(0, 0, 0);
}
.wave.wave-red {
  background: url("../../../public/assets/wave-red.svg") repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) 2s;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}