.background-card {
  margin: 0.5em;
  background-color: #323645!important;
  border-radius: 0.25em;
  h3,
  .card-row {
    padding: 0.5em;
  }
  .card-row {
    display: flex;
    justify-content: space-between;
  }
}