.two-col-ctas {
    .ant-btn.ant-btn-primary.ant-btn-round.main-cta {
        height: 58px;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
            display: block;
            width: 100%;
            word-break: break-word;
            white-space: break-spaces;
        }
        &.completed {
            pointer-events: none;
            background-color: var(--color-notify-success) !important;
        }
    }
}
.ddca-setup-heading {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: 0 0.6rem;
}
ol.greek {
    list-style-type: upper-greek;
    padding-left: 0.84rem;
    &.small {
        font-size: 0.75rem;
    }
}
.transaction-timeline-wrapper {
    padding: 1rem 4rem;
    .transaction-timeline {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 2px;
        list-style: none;
        text-align: justify;
        padding: 0;
        margin: 10px auto 10px;
        background-color: var(--color-secondary-alpha-15);
        li {
            display: inline-block;
            width: 20px;
            height: 20px;
            color: var(--color-gray-normal);
            background: var( --color-whitesmoke);
            text-align: center;
            line-height: 1.2;
            position: relative;
            border-radius: 50%;
            .value {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.exchange.ant-scrolling-effect {
    .ant-tooltip.ant-slider-tooltip.ant-tooltip-placement-top .ant-tooltip-content .ant-tooltip-arrow {
      display: none;
    }
}
