.ddca-setup-heading {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: 0 0.6rem;
}
.slider-container {
    display: block;
    position: relative;
    margin: 4rem 0 3.2rem 0;
    padding: 0 2rem;
}

.ant-slider.ant-slider-with-marks {
    .ant-slider-rail {
        height: 2px;
        margin-top: 1px;
    }
    .ant-slider-handle.ant-tooltip-open {
        width: 18px;
        height: 18px;
        margin-top: -7px;
        border-color: var(--color-white);
        background-color: var(--color-primary);
    }
    .ant-slider-mark {
        .ant-slider-mark-text {
            position: absolute;
            display: inline-block;
            color: var(--color-secondary-alpha-70);
            text-align: center;
            word-break: keep-all;
            white-space: nowrap;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            font-size: 80%;
        }
    }
}

.ant-tooltip-arrow-content {
    background-color: transparent;
}
.ant-slider-tooltip .ant-tooltip-inner {
    min-width: unset;
    box-shadow: none;
    background: transparent;
    padding: 0;
    height: auto;
    line-height: 1;
    min-height: auto;
    svg.tooltip-svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
        width: 18px;
        height: 18px;
        color: var(--color-primary-highlight);
    }
}
ol.greek {
    list-style-type: upper-greek;
    padding-left: 0.84rem;
    &.small {
        font-size: 0.75rem;
    }
}
