.ant-col.ant-col-24.step-two-selected-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  .selected-app {
    line-height: 1.3;
  }
  svg {
    background: #171c2a;
    padding: 0.5em;
    width: 3.2em;
    height: 3.2em;
    margin-right: 0.8em;
  }
}
.step-two-select-instruction {
  .well {
    margin-bottom: 5px !important;
  }
  .form-label {
    margin-top: 1.5em !important;
  }
}