.safe-details-container {
  padding-right: 1.5em;
  @media (max-width: 575px) {
    .safe-details-description {
      margin-top: 2em;
    }
  }
  @media (min-width: 576px) {
    .safe-details-description {
      margin-top: 1em;
    }
  }
  @media (max-width: 575px) {
    .safe-details-proposal {
      margin: 1.5em auto !important;
      justify-content: center !important;
    }
  }
  .safe-details-proposal {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .safe-details-left-container {
      display: flex;
      align-items: center;
      line-height: 1.3;
      .user-image {
        background: #707177;
        border-radius: 2em;
        padding: 0.5em;
        width: 2.5em;
        height: 2.5em;
        margin-right: 0.8em;
      }
    }
  }
  .safe-details-collapse {
    .instruction-header {
      display: flex;
      align-items: center;
      line-height: 1.3;
      .circle-background {
        background: #707177;
        border-radius: 2em;
        width: 1.8em;
        height: 1.8em;
        margin-right: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}