.safe-details-container {
  padding-right: 1.5em;
  .safe-details-resume {
    .back-button {
      margin-bottom: 1em;
      span {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .safe-details-description {
    margin-top: 1em;
  }
  .safe-details-proposal {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .safe-details-left-container {
      display: flex;
      align-items: center;
      line-height: 1.3;
      .user-image {
        background: #707177;
        border-radius: 2em;
        padding: 0.5em;
        width: 2.5em;
        height: 2.5em;
        margin-right: 0.8em;
      }
    }
    .safe-details-right-container {
      button {
        border-radius: 0.25em !important;
        margin: 0.25em;
        .btn-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // min-width: 7.5em;
          svg {
            padding-right: 0.3em;
            width: 1.25em;
          }
        }
      }
    }
  }
}