.ant-popover-inner-content {
  .inner-label {
      width: 100%;
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.3rem;
      margin-bottom: 8px;
      color: var(--color-secondary-alpha-70);
      &:not(:first-of-type) {
          margin-top: 12px;
      }
  }
}
button.ant-btn-round.ant-btn-icon-only.settings-button {
  padding: 0;
  border: none;
  height: auto;
  color: var(--color-secondary-alpha-85);
  &:hover {
      color: var(--color-secondary-alpha-60);
  }
}
