button.ant-btn-round.ant-btn-icon-only.settings-button {
  padding: 0;
  border: none;
  height: auto;
  color: var(--color-secondary-alpha-85);
  &:hover {
      color: var(--color-secondary-alpha-60);
  }
}
