.account-selector-item {
  border: 0.05px solid var(--color-secondary-alpha-40);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-bottom: 0.75em;

  .img-container img {
    margin-right: 8px;
    margin-left: 8px;
    background-color: var(--wallet-provider-background);
    padding: 4px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -2px;
    border-radius: 5px;
  }

  .resume-right-text {
    text-align: right;
  }
}