.nfts {
    @media (max-width: 399.98px) {
        .nft-details {
            margin-right: -0.5rem;
            padding-right: 0.25rem;
            display: contents;

            .flexible-column-bottom {
                .top {
                    position: relative;
                }
            }
        }
    }

    @media (min-width: 400px) {
        .nft-details {
            height: 100%;
        }
    }

    .nft-details-heading {
        font-weight: 500;
        line-height: 1.2;
        color: var(--color-secondary-alpha-70);
    }
}