.invest-layout {
  margin-bottom: 1.5em;
  max-height: fit-content !important;
}

.meanfi-two-panel-layout .meanfi-two-panel-right .inner-container .invest-fields-container {
  position: relative;
  .transaction-detail-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #212121;
    color: var(--color-secondary);
 }
 .info-label {
    text-align: center;
  }
}

.flexible-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .left {
    flex: 1 1 auto;
  }
}

.flexible-right {
  justify-content: flex-end !important;
}

.token-group {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  .token-max {
    margin: 0.25em;
    min-width: 45px;
    padding: 3px 6px;
    color: #ffffff;
    color: var(--color-white);
    font-weight: 800;
    font-size: 10px;
    line-height: 11px;
    white-space: nowrap;
    text-align: center;
    background: #b7001c;
    background: var(--color-primary);
    border-radius: 7px;
    border-radius: var(--custom-border-radius);
  }
  span {
    font-size: 10px;
  }
}

.simplelink {
  color: inherit;
  text-decoration: none;
}

.info-label {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  color: var(--color-secondary-alpha-50);
  margin-bottom: 4px;
}

.staking-data {
  margin: 0 1em 1em 1em;
  .staking-number {
    float: right;
  }
  .staking-value {
    font-size: 1.8rem;
  }
  span.anticon.anticon-arrow-down.mean-svg-icons {
    font-size: 1.4rem;
    margin-right: 4px;
  }
}

.staking-background {
  pointer-events: none;
  position: absolute;
  top: 2em;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  left: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  img.inbound {
    height: 110%;
  }
}

@media (min-width: 991px) and (max-width: 1120px) {
  .column-width {
    min-width: 35em;
    width: auto;
  }
}

@media (min-width: 1121px) {
  .column-width {
    min-width: 20em;
    width: auto;
  }
}

.confirm-terms {
  justify-content: space-between;
  align-items: center;
  svg.mean-svg-icons {
    width: 14px;
    height: 16px;
    margin: 0 0.25em;
    display: flex;
  }
}

.stats-row {
  .std-table-cell.first-cell {
    width: 25px;
  }
}
.contain-icons {
  display: flex;
  justify-content: center;
  margin-left: 0.8em;
  .token-icon {
    border-radius: 50%;
    display: inline-block;
    font-size: 35px;
    height: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    margin-left: -0.25em;
  }
}

.transaction-list-row .rate-cell {
  flex: auto !important;
}