.meanfi-two-panel-layout {
  margin-bottom: 1.5em;
  .meanfi-two-panel-left .inner-container .item-block .transaction-list-row.money-streams-summary .rate-cell .rate-amount {
    font-size: 12px !important;
  }
}
.meanfi-two-panel-layout .meanfi-two-panel-right .inner-container .stream-fields-container .info-label {
  text-align: center;
}
.meanfi-two-panel-layout .meanfi-two-panel-right .inner-container .stream-fields-container .transaction-detail-row {
  justify-content: center;
}
