.swap-wrapper {
    .swap-title-and-settings {
        padding: 0 6px 16px;
        .title {
            font-size: 1.2rem;
            color: var(--color-secondary-alpha-85);
            font-weight: 600;
        }
        button.ant-btn-round.ant-btn-icon-only.settings-button {
            padding: 0;
            border: none;
            height: auto;
            color: var(--color-secondary-alpha-85);
            &:hover {
                color: var(--color-secondary-alpha-60);
            }
        }
    }
    .transaction-field {
        position: relative;
        height: 70px;
        &.source {
            margin: 0;
            &:after {
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 40px;
                height: 12px;
                content: ' ';
                background-color: var(--bg-color);
                border-style: solid;
                border-width: 2px;
                border-color: var(--color-secondary-alpha-10);
                border-bottom: none;
                border-top-left-radius: var(--custom-border-radius);
                border-top-right-radius: var(--custom-border-radius);
                transform: translateX(-20px);
                z-index: 1;
            }
            &:hover::after {
                border-color: var(--color-secondary-alpha-20);
            }
        }
        &.destination {
            &:before {
                position: absolute;
                top: -2px;
                left: 50%;
                width: 40px;
                height: 12px;
                content: ' ';
                background-color: var(--bg-color);
                border-style: solid;
                border-width: 2px;
                border-color: var(--color-secondary-alpha-10);
                border-top: none;
                border-bottom-left-radius: var(--custom-border-radius);
                border-bottom-right-radius: var(--custom-border-radius);
                transform: translateX(-20px);
                z-index: 1;
            }
            &:hover::before {
                border-color: var(--color-secondary-alpha-20);
            }
        }
        .transaction-field-row {
            .field-label-left,
            .field-label-right {
                font-size: 0.75rem;
            }
            &.main-row {
                height: 36px;
                margin-top: 4px;
                margin-bottom: 4px;
                .general-text-input {
                    font-size: 26px;
                    line-height: 26px;
                }
                .token-group {
                    display: flex;
                    align-items: flex-start;
                    &:not(.flex-row-reverse) {
                        .token-max {
                          margin: 3px 8px 0 0;
                        }
                    }
                    &.flex-row-reverse {
                        .token-max {
                          margin: 2px 0 0 8px;
                        }
                    }
                }
            }
        }
    }
    .flip-button-container {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        .flip-button {
            width: 32px;
            height: 32px;
            position: relative;
            // border-style: solid;
            // border-width: 2px;
            // border-color: var(--color-secondary-alpha-10);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            .anticon svg,
            .mean-svg-icons {
                width: 22px;
                height: 22px;
                color: var(--color-secondary-alpha-50);
            }
            &:hover {
                cursor: pointer;
                // border-color: var(--color-secondary-alpha-20);
                // background-color: var(--color-secondary-alpha-02);
                .anticon svg,
                .mean-svg-icons {
                    color: var(--color-secondary-alpha-80);
                }
            }
        }
        .info-line {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex: 1 1 auto;
        }
    }
}
