.program-details-container {
  button {
    min-width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signature svg {
    width: 1em !important;
    margin-right: 1em !important;
    margin-top: -0.25em !important;
    margin-bottom: -0.25em !important;
  }
}
.safe-btns-container {
  .ant-col.ant-col-xs-20.ant-col-sm-18.ant-col-md-20.ant-col-lg-18 {
    flex-wrap: wrap !important;
  }
}
