.safe-details-container {
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 575px) {
    .activity-container {
      flex-direction: column !important;
      align-items: flex-start !important;
      .activity-address {
        display: flex;
        margin-left: 1.5em !important;
      }
    }
  }
  @media (max-width: 575px) {
    .safe-details-description {
      margin-top: 1em;
    }
  }
  @media (max-width: 575px) {
    .safe-details-proposal {
      margin: 1.5em auto !important;
      justify-content: center !important;
    }
  }
  .safe-details-proposal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em auto;
    justify-content: space-between !important;
    margin-right: 1em !important;
    .safe-details-proposal-left {
      display: flex;
      min-width: fit-content;
      .safe-details-left-container {
        display: flex;
        align-items: center;
        line-height: 1.3;
        margin-right: 1.5em;
        margin-bottom: 0.6em;
        margin-left: 0.4em;
        .user-image {
          background: #707177;
          border-radius: 2em;
          padding: 0.5em;
          width: 2.5em;
          height: 2.5em;
          margin-right: 0.8em;
          color: #000;
        }
      }
    }
    .safe-details-right-container {
      display: flex;
      button {
        min-width: 6.2em;
      }
    }
  }
  .safe-details-cool-off-period-container {
    width: fit-content;
    margin: 0 1em;
    .center-cool-off-period-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      .number-cool-off-period-background {
        background: #707177;
        padding: 0 0.25em;
        margin: 0 0.25em;
        color: #181a29;
        font-weight: 600;
      }
    }
  }
  .info-icon-btn {
    min-width: 2em !important;
    width: 2em !important;
    margin-right: 0 !important;
  }
  .activity-icon {
    width: 1.25em;
    margin-right: 0.25em;
  }
  .activity-address {
    color: #878891 !important;
  }
}
