.safe-details-container {
  @media (max-width: 575px) {
    .safe-details-description {
      margin-top: 1em;
    }
  }
  @media (max-width: 575px) {
    .safe-details-proposal {
      margin: 1.5em auto !important;
      justify-content: center !important;
    }
  }
  .safe-details-proposal {
    margin: 1.5em auto 1em;
    justify-content: space-between !important;
    margin-right: 1em !important;
    .safe-details-left-container {
      display: flex;
      align-items: center;
      line-height: 1.3;
      .user-image {
        background: #707177;
        border-radius: 2em;
        padding: 0.5em;
        width: 2.5em;
        height: 2.5em;
        margin-right: 0.8em;
        color: #000;
      }
    }
    .safe-details-right-container {
      display: flex;
      button {
        min-width: 6.2em;
      }
    }
  }
}

.info-icon-btn {
  min-width: 2em !important;
  width: 2em !important;
  margin-right: 0 !important;
}
.activity-icon {
  width: 1.25em;
  margin-right: 0.25em;
}
.activity-address {
  color: #878891 !important;
}
