.multisig-safe-owners {
  @media (max-width: 575px) {
    .container-owner-item {
      align-items: start;
    }
  }
  @media (min-width: 576px) {
    .container-owner-item {
      align-items: center;
    }
  }
  .container-owner-item {
    display: flex;
    margin-bottom: 1em;

    .trash-icon {
      margin-left: 1em;
    }
  }
  .add-owners-row {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    .icon-label svg {
      height: 14px !important;
    }
  }
  svg.mean-svg-icons.simplelink {
    width: 1.5em;
  }
}