.not-found-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cta-container {
        margin-top: 3rem;
    }
    .st0{font-family: "Lato","Liberation Mono","Courier New",monospace!important;}
    .st1{font-size: 83.0285px;}
    .st2{fill:gray;}
    svg{
      width: 100%;
      max-width: 500px;
      height: 400px;
      text-align: center;
      fill: var(--color-primary);
      margin-top: -4rem;
    }
    path#XMLID_5_ {
      fill: var(--color-primary);
      filter: url(#blurFilter4);
    }
    path#XMLID_11_ ,path#XMLID_2_ {
      fill: var(--color-primary);
    }
    .circle{
      animation: out 2s infinite ease-out;
      fill: var(--color-primary);
    }
    .message{
        color: var(--color-primary);
        text-transform: uppercase;
        margin-top: -4rem;
    }
    .message:after{
        content:"]";
        margin: 0 0 0 20px;
    }
    .message:before{
        content:"[";
        margin: 0 20px 0 0;
    }
    .message:after, .message:before {
      color: var(--color-primary);
      font-size: 20px;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
    }
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes out {
    0% {r:1;  opacity: 0.9 ;}
    25%{r:5;  opacity: 0.3 ;}
    50%{r:10; opacity: 0.2 ;}
    75%{r:15;opacity:0.1;}
    100% {r:20;opacity:0;}
}
