@media (max-width: 575px) {
  .resume-item-container {
    row-gap: 0px !important;
    padding-bottom: 0em;
  }
}
@media (min-width: 576px) {
  .resume-item-container {
    padding-bottom: 0.5em;
  }
}
.resume-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em !important;
  .resume-left-container {
    display: flex;
    align-items: center;
    .img-container {
      margin-right: 0.5em;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
    }
    .resume-left-text {
      line-height: 1.3;
      .resume-title {
        font-size: 1.1em;
      }
      .info-label {
        margin-bottom: 0 !important;
      }
    }
  }
  // @media (max-width: 575px) {
  //   .resume-left-container {
  //     width: 100%;
  //   }
  //   .resume-right-container {
  //     justify-content: space-between;
  //     width: 100%;
  //   }
  // }
  .resume-right-container {
    padding-right: 0 !important;
    display: flex;
    align-items: center;
    .resume-right-text {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      // margin-left: 2.2em;
      line-height: 1.3;
      .resume-right-text-up {
        display: flex;
        .thumbs-up,
        .thumbs-down {
          display: flex;
          align-items: center;
          padding: 0 0.25em;
          span {
            font-size: 1.1em;
            padding: 0 0.5em;
          }
        }
        .badge-container {
          margin: 0.25em 0 0.25em 0.25em;
          display: flex;
          border-radius: 0.25em;
          .badge {
            width: 6.8em !important;
            font-size: 8px !important;
            padding: 1px !important;
            font-weight: 600 !important;
          }
        }
      }
    }
    .info-label {
      float: right;
      text-align: right;
    }
    .icon-button-container {
      margin: auto 0.5em;
    }
  }
}
.big-title {
  font-size: 1.4em !important;
}
.hover-list {
  &:hover {
    background-color: var(--color-secondary-alpha-05);
  }
}