html {
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > iframe {
  z-index: -1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-row {
  min-width: 100%;
}
