html, body {
  height: auto !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-row {
  min-width: 100%;
}
