.options-list,
.option-detail-panel {
  width: 100%;
}
.options-list.show {
  padding: 24px;
}
.options-list.show,
.option-detail-panel.show {
  height: auto;
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.options-list.hide,
.option-detail-panel.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition-property: height, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#address-static-field {
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  padding-right: 5px;
  line-height: 1.6;
}
